@import "bootstrap/dist/css/bootstrap.min.css";
@import "datatables.net-bs5/css/dataTables.bootstrap5.min.css";
@import "custom-fonts.css";

:root[data-bs-theme=dark] {
	--bs-body-bg: #121212;
	--bs-body-color: #f7f7f7;

	--bs-primary: #f9bd46; //#fbbf24;
	--bs-primary-rgb: 249 189 70;

	--bs-primary-hover: #fcd34d;

	--bs-link-color: var(--bs-primary);
	--bs-link-color-rgb: var(--bs-primary-rgb);
	--bs-link-hover-color: #fb923c;
	--bs-link-hover-color-rgb: 251, 146, 60;

	--bs-block-bg: #18181b;
	--bs-block-border-radius: 12px;
}

.dropdown-menu {
	--bs-dropdown-link-active-bg: transparent;
	--bs-dropdown-link-active-color: #000;
}

.dropdown-item.active {
	color: var(--bs-link-color) !important;

	&:hover {
		background-color: var(--bs-dropdown-link-hover-bg);
	}
}

html {
	color: #222;
	font-size: 1em;
	line-height: 1.4;
}

[data-bs-theme=dark] {
	--bs-body-bg: #171821;
}

a {
	text-decoration: none;
	transition: color 0.2s;
}

.navbar {
	position: sticky;
	top: 0;
	z-index: 4;
	background: var(--bs-block-bg) !important;
	border-bottom: 1px solid #3f3f46;
	padding: 0.5rem 1rem;
}

.navbar-brand {
	padding: 0;
}

/* Tabs */
.nav-tabs {
	background: var(--bs-block-bg);
	border-top-left-radius: var(--bs-block-border-radius);
	border-top-right-radius: var(--bs-block-border-radius);
}

.nav-tabs .nav-link {
	background: none;
	border: none;
	color: #a1a1aa;
	padding: 15px 25px;
    font-size: 0.95rem;
    font-weight: 400;

	&:hover {
		color: var(--bs-body-color);
	}

	&.active {
		background: none;
		border-bottom: 1px solid var(--bs-primary);
		color: var(--bs-primary);
	}
}

.navbar .nav-link {
	&:hover {
		color: var(--bs-body-color);
	}

	&.active {
		color: var(--bs-primary);
	}
}

.tab-content {
	background: var(--bs-block-bg);
	border-bottom-left-radius: var(--bs-block-border-radius);
	border-bottom-right-radius: var(--bs-block-border-radius);
	padding: 1rem 1.2rem;
}

.card {
	--bs-card-border-radius: var(--bs-block-border-radius);
	overflow: hidden;
	transition: all 0.2s ease;
}

/* Main block */

.simple-block {
	background: #18181b;
	border-radius: 0.5rem;
	padding: 20px;
	margin-bottom: 20px;
	box-shadow: rgba(0, 0, 0, 0.01) 0 0 20px;
}

table.dataTable span.highlight {
	background-color: #FFFF88;
	border-radius: 0.28571429rem;
}

table.dataTable span.column_highlight {
	background-color: #ffcc99;
	border-radius: 0.28571429rem;
}

[data-bs-theme=dark] table.dataTable span.highlight {
	background-color: #224563;
	border-radius: 3px;
}

[data-bs-theme=dark] table.dataTable span.column_highlight {
	background-color: #4d4225;
	border-radius: 3px;
}

.game-checks {
	margin-top: 20px;
	column-gap: 8px;
	row-gap: 4px;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.game-checks-updated,
.library-updated {
	color: #6c757d;
	margin-top: 10px;
	text-align: center;
	font-style: italic;
	font-size: 0.9rem;
}

input[type="search"] {
	background-color: #21222d;
	color: #f7f7f7;
	border: 0;
	transition: background-color 200ms cubic-bezier(0, 0, 0.2, 1);
}

#main-input {
	max-width: 760px;
}

#main-input,
#library-filter {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxNicgaGVpZ2h0PScxNicgdmlld0JveD0nMCAwIDE2IDE2Jz48cGF0aCBmaWxsPScjOWFhMGE2JyBkPSdNMTEuNzQyIDEwLjM0NGE2LjUgNi41IDAgMSAwLTEuMzk3IDEuMzk4aC0uMDAxYy4wMy4wNC4wNjIuMDc4LjA5OC4xMTVsMy44NSAzLjg1YTEgMSAwIDAgMCAxLjQxNS0xLjQxNGwtMy44NS0zLjg1YTEuMDA3IDEuMDA3IDAgMCAwLS4xMTUtLjF6TTEyIDYuNWE1LjUgNS41IDAgMSAxLTExIDAgNS41IDUuNSAwIDAgMSAxMSAweic+PC9wYXRoPjwvc3ZnPg==");
	background-position: 12px center;
	background-repeat: no-repeat;
	padding-left: 40px;
}

#library-filter {
	margin-bottom: 20px;
}

input[type="search"]:focus {
	background-color: #2b2b36;
	box-shadow: none;
}

input[type="search"]:hover {
	background-color: #2c2d33;
}

input[type="search"]::placeholder {
	color: #626269;
}

#main.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin-top: -77px;
}

#main.flex-center .main-table-wrap {
	display: none;
}

#main.flex-center .search-wrap {
	max-width: 900px;
}

table.dataTable {
	border-collapse: separate;
}

table.dataTable thead {
	position: sticky;
	top: 67px;
	z-index: 3;
	box-shadow: rgba(0, 0, 0, 0.4) 0 0 20px;
	clip-path: inset(0 0 -20px 0);
}

table.dataTable thead tr:first-child th {
	border-bottom: 1px #343541 solid;
}

table.dataTable thead tr:nth-child(2) th {
	border-bottom: 2px #343541 solid;
}

table.dataTable th {
	color: #87888c;
}

table.dataTable th,
table.dataTable tr {
	border-color: #343541;
}

table.dataTable td {
	padding: 1rem .5rem;
}

table.dataTable td:nth-child(n+3) {
	word-break: break-word;
}

table.dataTable pre {
	white-space: pre-wrap;
}

.badge-tag {
	padding: 0;
	font-weight: 400;
	color: #d5d5d5;
	font-size: 10px;
	margin-top: 5px;
	line-height: 1.2;
}

.table>:not(caption)>*>* {
	color: #f7f7f7;
}

.game-icon {
	position: sticky;
	top: 180px;
}

.type-tag {
	position: sticky;
	top: 180px;
	color: #b7b7b7;
	font-size: 14px;
	height: 32px;
	display: flex;
	align-items: center;
}

.book-image {
	max-width: 100%;
	background: url('/public/img/mappaper01.jpg');
}

.book-image-no-bg {
	max-width: 100%;
}

.book-image-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.game-checks .btn {
	border-color: #2b2b36;
}

.game-checks .btn-check:checked+.btn {
	border-color: #2b2b36;
	background: #2b2b36;
}

#main:not(.flex-center) .game-checks {
	margin-top: 10px;
}

#main:not(.flex-center) .game-checks .btn span {
	display: none;
}

#main:not(.flex-center) .game-checks-divider {
	width: 0 !important;
}

#main:not(.flex-center) .game-checks-updated {
	display: none;
}

#main:not(.flex-center) .game-checks label.disabled {
	display: none;
}

.list-move,
/* apply transition to moving elements */
.list-enter-active,
.list-leave-active {
	transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to {
	opacity: 0;
	transform: translateX(30px);
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
.list-leave-active {
	position: absolute;
}

.row {
	--bs-gutter-x: 0;
}

.g-2 {
	--bs-gutter-x: 0.5rem;
}

.g-3 {
	--bs-gutter-x: 1.0rem;
}

.g-4 {
	--bs-gutter-x: 1.5rem;
}

#glossary-search-nav input {
	border: var(--bs-border-width) solid var(--bs-border-color);
	border-radius: var(--bs-border-radius-lg);
}

.list-group-item {
	color: var(--bs-list-group-color);
}

.game-checks label.disabled {
	opacity: 0.5;
	filter: grayscale(1);
}

.btn-primary {
	background: var(--bs-primary);
	border-color: var(--bs-primary);
	color: black;

	&:hover, &:focus, &:active {
		background: var(--bs-primary-hover) !important;
		border-color: var(--bs-primary-hover) !important;
		color: black !important;
	}
}

.pagination {
	--bs-pagination-active-bg: var(--bs-primary);
	--bs-pagination-active-border-color: var(--bs-primary);
	--bs-pagination-active-color: black;
	--bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-primary-rgb), 0.15);
}

.form-select {
	&:focus {
		border-color: var(--bs-primary);
		box-shadow: 0 0 0 0.25rem rgba(var(--bs-primary-rgb), 0.15);
	}
}

.list-group {
	--bs-list-group-active-bg: var(--bs-primary);
	--bs-list-group-active-border-color: var(--bs-primary);
	--bs-list-group-active-color: black;
}

.eso-category-list .list-group-item {
	background: transparent;
}

.eso-category-list .list-group-item {
	background: transparent;
	border-bottom: none;
	padding: 0.75rem 1rem;
    border-radius: 6px;

	&.active {
		background: var(--bs-primary) !important;
		color: black !important;
	}

	&:hover {
		color: var(--bs-primary);
		background: transparent;
	}

	&:focus {
		background: transparent;
	}
}

#collapse-categories {
	z-index: 3;
	position: relative;
}

@media (max-width: 767.98px) {
	#glossary-search-nav input {
		margin-right: 17px;
	}

	.search-wrap {
		margin: 0 15px;
	}

	.navbar-brand img {
		height: 40px;
	}

	.navbar #glossary-search-nav input {
		min-height: 20px;
		height: 40px;
	}

	table.dataTable thead {
		top: 26px;
		z-index: 3;
	}

	.game-icon,
	.type-tag {
		top: 125px;
	}

	.p-3 {
		padding: 1rem 0 !important;
	}

	.main-table-wrap {
		margin: 0 -15px;
	}
}

@media (max-width: 575.98px) {
	table.dataTable td:nth-child(n+3) {
		word-break: normal;
	}

	#main:not(.flex-center) .game-checks-divider {
		width: 100% !important;
	}

	#main:not(.flex-center) .game-checks label.btn {
		padding-left: 7px;
		padding-right: 6px;
	}
}