@import "bootstrap/dist/css/bootstrap.min.css";
@import "datatables.net-bs5/css/dataTables.bootstrap5.min.css";
@import "custom-fonts.css";

:root[data-bs-theme=dark] {
	--bs-body-bg: #121212;
	--bs-body-color: #f7f7f7;

	--bs-primary: #f9bd46; //#fbbf24;
	--bs-primary-rgb: 249, 189, 70;

	--bs-primary-hover: #fcd34d;
	--bs-primary-hover-rgb: 252, 211, 77;

	--bs-link-color: var(--bs-primary);
	--bs-link-color-rgb: var(--bs-primary-rgb);
	--bs-link-hover-color: var(--bs-primary-hover); // #fb923c;
	--bs-link-hover-color-rgb: var(--bs-primary-hover-rgb); // 251, 146, 60;

	--bs-block-bg: #18181b;
	--bs-block-border-radius: 12px;
}

.dropdown-menu {
	--bs-dropdown-link-active-bg: transparent;
	--bs-dropdown-link-active-color: #000;
}

.dropdown-item.active {
	color: var(--bs-link-color) !important;

	&:hover {
		background-color: var(--bs-dropdown-link-hover-bg);
	}
}

html {
	color: #222;
	font-size: 1em;
	line-height: 1.4;
}

[data-bs-theme=dark] {
	--bs-body-bg: #171821;
}

a {
	text-decoration: none;
	transition: color 0.2s;
}

.navbar {
	position: sticky;
	top: 0;
	z-index: 4;
	background: var(--bs-block-bg) !important;
	border-bottom: 1px solid #3f3f46;
	padding: 0.5rem 1rem;
}

.navbar-brand {
	padding: 0;
}

/* Tabs */
.nav-tabs {
	background: var(--bs-block-bg);
	border-top-left-radius: var(--bs-block-border-radius);
	border-top-right-radius: var(--bs-block-border-radius);
}

.nav-tabs .nav-link {
	background: none;
	border: none;
	color: #a1a1aa;
	padding: 15px 25px;
	font-size: 0.95rem;
	font-weight: 400;

	&:hover {
		color: var(--bs-body-color);
	}

	&.active {
		background: none;
		border-bottom: 1px solid var(--bs-primary);
		color: var(--bs-primary);
	}
}

.navbar .nav-link {
	&:hover {
		color: var(--bs-body-color);
	}

	&.active {
		color: var(--bs-primary);
	}
}

.tab-content {
	background: var(--bs-block-bg);
	border-bottom-left-radius: var(--bs-block-border-radius);
	border-bottom-right-radius: var(--bs-block-border-radius);
	padding: 1rem 1.2rem;
}

.card {
	--bs-card-border-radius: var(--bs-block-border-radius);
	overflow: hidden;
	transition: all 0.2s ease;
}

/* Main block */

.simple-block {
	background: #18181b;
	border-radius: 0.5rem;
	padding: 20px;
	margin-bottom: 20px;
	box-shadow: rgba(0, 0, 0, 0.01) 0 0 20px;
}

table.dataTable span.highlight {
	background-color: #FFFF88;
	border-radius: 0.28571429rem;
}

table.dataTable span.column_highlight {
	background-color: #ffcc99;
	border-radius: 0.28571429rem;
}

[data-bs-theme=dark] table.dataTable span.highlight {
	background-color: #224563;
	border-radius: 3px;
}

[data-bs-theme=dark] table.dataTable span.column_highlight {
	background-color: #4d4225;
	border-radius: 3px;
}

.game-checks {
	margin-top: 20px;
	column-gap: 8px;
	row-gap: 4px;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.game-checks-updated,
.library-updated {
	color: #6c757d;
	margin-top: 10px;
	text-align: center;
	font-style: italic;
	font-size: 0.9rem;
}

input[type="search"] {
	background-color: #21222d;
	color: #f7f7f7;
	border: 0;
	transition: background-color 200ms cubic-bezier(0, 0, 0.2, 1);
}

#main-input {
	max-width: 760px;
}

#main-input,
#library-filter {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxNicgaGVpZ2h0PScxNicgdmlld0JveD0nMCAwIDE2IDE2Jz48cGF0aCBmaWxsPScjOWFhMGE2JyBkPSdNMTEuNzQyIDEwLjM0NGE2LjUgNi41IDAgMSAwLTEuMzk3IDEuMzk4aC0uMDAxYy4wMy4wNC4wNjIuMDc4LjA5OC4xMTVsMy44NSAzLjg1YTEgMSAwIDAgMCAxLjQxNS0xLjQxNGwtMy44NS0zLjg1YTEuMDA3IDEuMDA3IDAgMCAwLS4xMTUtLjF6TTEyIDYuNWE1LjUgNS41IDAgMSAxLTExIDAgNS41IDUuNSAwIDAgMSAxMSAweic+PC9wYXRoPjwvc3ZnPg==");
	background-position: 12px center;
	background-repeat: no-repeat;
	padding-left: 40px;
}

#library-filter {
	margin-bottom: 20px;
}

input[type="search"]:focus {
	background-color: #2b2b36;
	box-shadow: none;
}

input[type="search"]:hover {
	background-color: #2c2d33;
}

input[type="search"]::placeholder {
	color: #626269;
}

#main.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin-top: -77px;
}

#main.flex-center .main-table-wrap {
	display: none;
}

#main.flex-center .search-wrap {
	max-width: 900px;
}

table.dataTable {
	border-collapse: separate;
}

table.dataTable thead {
	position: sticky;
	top: 67px;
	z-index: 3;
	box-shadow: rgba(0, 0, 0, 0.4) 0 0 20px;
	clip-path: inset(0 0 -20px 0);
}

table.dataTable thead tr:first-child th {
	border-bottom: 1px #343541 solid;
}

table.dataTable thead tr:nth-child(2) th {
	border-bottom: 2px #343541 solid;
}

table.dataTable th {
	color: #87888c;
}

table.dataTable th,
table.dataTable tr {
	border-color: #343541;
}

table.dataTable td {
	padding: 1rem .5rem;
}

table.dataTable td:nth-child(n+3) {
	word-break: break-word;
}

table.dataTable pre {
	white-space: pre-wrap;
}

.badge-tag {
	padding: 0;
	font-weight: 400;
	color: #d5d5d5;
	font-size: 10px;
	margin-top: 5px;
	line-height: 1.2;
}

.table>:not(caption)>*>* {
	color: #f7f7f7;
}

.game-icon {
	position: sticky;
	top: 180px;
}

.type-tag {
	position: sticky;
	top: 180px;
	color: #b7b7b7;
	font-size: 14px;
	height: 32px;
	display: flex;
	align-items: center;
}

.book-image {
	max-width: 100%;
	background: url('/public/img/mappaper01.jpg');
}

.book-image-no-bg {
	max-width: 100%;
}

.book-image-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.game-checks .btn {
	border-color: #2b2b36;
}

.game-checks .btn-check:checked+.btn {
	border-color: #2b2b36;
	background: #2b2b36;
}

#main:not(.flex-center) .game-checks {
	margin-top: 10px;
}

#main:not(.flex-center) .game-checks .btn span {
	display: none;
}

#main:not(.flex-center) .game-checks-divider {
	width: 0 !important;
}

#main:not(.flex-center) .game-checks-updated {
	display: none;
}

#main:not(.flex-center) .game-checks label.disabled {
	display: none;
}

.list-move,
/* apply transition to moving elements */
.list-enter-active,
.list-leave-active {
	transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to {
	opacity: 0;
	transform: translateX(30px);
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
.list-leave-active {
	position: absolute;
}

.row {
	--bs-gutter-x: 0;
}

.g-2 {
	--bs-gutter-x: 0.5rem;
}

.g-3 {
	--bs-gutter-x: 1.0rem;
}

.g-4 {
	--bs-gutter-x: 1.5rem;
}

#glossary-search-nav input {
	border: var(--bs-border-width) solid var(--bs-border-color);
	border-radius: var(--bs-border-radius-lg);
}

.list-group-item {
	color: var(--bs-list-group-color);
}

.game-checks label.disabled {
	opacity: 0.5;
	filter: grayscale(1);
}

.btn-primary {
	background: var(--bs-primary);
	border-color: var(--bs-primary);
	color: black;

	&:hover,
	&:focus,
	&:active {
		background: var(--bs-primary-hover) !important;
		border-color: var(--bs-primary-hover) !important;
		color: black !important;
	}
}

.pagination {
	--bs-pagination-active-bg: var(--bs-primary);
	--bs-pagination-active-border-color: var(--bs-primary);
	--bs-pagination-active-color: black;
	--bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-primary-rgb), 0.15);
}

.form-select {
	&:focus {
		border-color: var(--bs-primary);
		box-shadow: 0 0 0 0.25rem rgba(var(--bs-primary-rgb), 0.15);
	}
}

.list-group {
	--bs-list-group-active-bg: var(--bs-primary);
	--bs-list-group-active-border-color: var(--bs-primary);
	--bs-list-group-active-color: black;
}

.eso-category-list .list-group-item {
	background: transparent;
}

.eso-category-list .list-group-item {
	background: transparent;
	border-bottom: none;
	padding: 0.75rem 1rem;
	border-radius: 6px;

	&.active {
		background: var(--bs-primary) !important;
		color: black !important;
	}

	&:hover {
		color: var(--bs-primary);
		background: transparent;
	}

	&:focus {
		background: transparent;
	}
}

#collapse-categories {
	z-index: 3;
	position: relative;
}

.atomic-shop-card .pts-badge-wrapper {
	position: absolute;
	top: 10px;
	left: -8px;
	filter: drop-shadow(3px 3px 0 rgba(0, 0, 0, 1));
	z-index: 1;
}

.atomic-shop-card .pts-badge {
	position: relative;
	background: #a2295f;
	color: white;
	padding: 4px 16px;
	font-weight: 700;
	font-size: 20px;
	text-transform: uppercase;
	clip-path: polygon(0 10%, 100% 0, 85% 100%, 10% 90%);
	font-family: "Roboto Condensed", "Arial Narrow", "Helvetica Condensed", "Liberation Sans Narrow", sans-serif-condensed, sans-serif;
	width: 70px;
	text-align: center;
	text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.7);
}

.atomic-shop-card .support-badge-wrapper {
	position: absolute;
	top: 8px;
	right: -12px;
	filter: drop-shadow(3px 3px 0 rgba(0, 0, 0, 1));
	z-index: 1;
}

.atomic-shop-card .support-badge {
	position: relative;
	background: #269549;
	color: white;
	padding: 12px 13px 12px 10px;
	clip-path: polygon(10% 5%, 80% 10%, 90% 80%, 10% 100%);
	font-family: "Roboto Condensed", "Arial Narrow", "Helvetica Condensed", "Liberation Sans Narrow", sans-serif-condensed, sans-serif;
	width: 65px;
	text-align: center;
}

.atomic-shop-card .support-badge svg {
	filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.5));
}

.support-item-price {
	font-weight: 400;
	color: #fefeca;
}

.support-item-price::after {
	content: '';
	display: inline-block;
	width: 1.1rem;
	height: 1.1rem;
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65.39 58.92"><path fill="%23fefeca" d="M20.53 0c3.52 0 7.55 1.83 12.09 5.48C37.4 1.82 41.57 0 45.14 0c4.69 0 7.52 2.98 8.51 8.93.14.98.21 1.95.21 2.88v.7c0 1.78-.14 3.42-.42 4.92 7.97 3.28 11.95 7.29 11.95 12.02s-3.98 8.79-11.95 11.88c.28 1.41.42 2.86.42 4.36v1.69c0 5.67-2.11 9.37-6.33 11.11-.94.19-1.83.33-2.67.42-3.42 0-7.5-1.83-12.23-5.48-4.5 3.66-8.56 5.48-12.16 5.48-4.31 0-7.13-2.46-8.44-7.38-.33-1.22-.49-2.39-.49-3.52v-1.76c0-1.73.14-3.38.42-4.92C3.98 38.25 0 34.31 0 29.53s3.98-8.76 11.95-12.09c-.28-1.73-.42-3.42-.42-5.06v-.42c0-6.28 2.3-10.17 6.89-11.67C19.64.1 20.34.01 20.53.01ZM3.52 29.53c0 3.05 3.05 5.86 9.14 8.44.37-1.69 1.31-4.55 2.81-8.58-.84-2.16-1.83-4.97-2.95-8.44-6 2.58-9 5.44-9 8.58Zm11.39-17.15c.19 2.34.28 3.66.28 3.94 2.16-.56 5.16-1.17 9-1.83 1.22-1.64 3.19-3.89 5.91-6.75-3.84-2.81-6.99-4.22-9.42-4.22-2.81 0-4.64 1.88-5.48 5.62l-.28 3.23Zm.42 30.23c-.19.8-.28 1.83-.28 3.09v1.97c0 4.08 1.45 6.61 4.36 7.59.28 0 .61.05.98.14 2.86 0 6.05-1.45 9.56-4.36-2.91-3-4.83-5.25-5.77-6.75-1.22 0-4.17-.56-8.86-1.69Zm.7-22.78c0 .42.47 2.16 1.41 5.2l3.8-6.33c-2.44.28-4.17.66-5.2 1.12Zm1.41 14.2c-.94 3-1.41 4.74-1.41 5.2 2.62.66 4.41 1.03 5.34 1.12-1.45-2.2-2.67-4.31-3.66-6.33h-.28Zm1.97-4.5c1.55 3.66 3.8 7.5 6.75 11.53 2.39.19 4.83.28 7.31.28 4.12 0 6.19-.23 6.19-.7 2.3-3.28 4.45-6.98 6.47-11.11-1.59-3.56-3.84-7.45-6.75-11.67a68.93 68.93 0 0 0-6.19-.28h-1.12c-4.22 0-6.33.24-6.33.7-3.23 4.83-5.34 8.58-6.33 11.25Zm7.94 0c0-1.45.52-2.69 1.55-3.73s2.27-1.55 3.73-1.55 2.69.52 3.73 1.55c1.03 1.03 1.55 2.27 1.55 3.73s-.52 2.7-1.55 3.73-2.27 1.55-3.73 1.55-2.7-.52-3.73-1.55c-1.03-1.03-1.55-2.27-1.55-3.73Zm5.27-19.41c-2.44 2.53-3.66 3.84-3.66 3.94h6.47l.98.14c-.56-.89-1.83-2.25-3.8-4.08Zm-3.65 34.6c.75 1.03 2.01 2.39 3.8 4.08 1.69-1.73 2.91-3.09 3.66-4.08l-2.81.14h-2.25l-2.39-.14ZM35.3 7.88c1.64 1.5 3.7 3.75 6.19 6.75 2.53.28 5.44.84 8.72 1.69.19-2.25.28-3.89.28-4.92 0-3.94-1.31-6.47-3.94-7.59-.84-.19-1.55-.28-2.11-.28-2.39 0-5.44 1.45-9.14 4.36Zm5.9 36.56c-1.22 1.73-3.14 3.94-5.77 6.61 3.66 2.91 6.75 4.36 9.28 4.36 3.23 0 5.11-2.34 5.62-7.03 0-.61.05-1.17.14-1.69-.14-2.72-.33-4.08-.56-4.08-2.02.56-4.92 1.17-8.72 1.83Zm6.75-19.41 1.55-5.34c-3.19-.75-4.97-1.12-5.34-1.12l3.8 6.47Zm-3.79 15.19c1.92-.19 3.66-.56 5.2-1.12 0-.42-.47-2.16-1.41-5.2l-3.8 6.33Zm8.57-19.27c-.66 2.58-1.59 5.44-2.81 8.58.75 1.83 1.73 4.64 2.95 8.44 6-2.67 9-5.39 9-8.16v-.42c0-3.14-3.05-5.95-9.14-8.44Z"/></svg>') no-repeat center;
	background-size: contain;
	margin-left: 3px;
	vertical-align: middle;
	top: -1px;
	position: relative;
}

.tooltip-dark .tooltip-inner {
	background-color: rgba(0, 0, 0, 0.7);
	color: #fff;
	padding: 5px 10px;
}

.tooltip-dark .tooltip-arrow::before {
	display: none;
}

@media (max-width: 767.98px) {
	#glossary-search-nav input {
		margin-right: 17px;
	}

	.search-wrap {
		margin: 0 15px;
	}

	.navbar-brand img {
		height: 40px;
	}

	.navbar #glossary-search-nav input {
		min-height: 20px;
		height: 40px;
	}

	table.dataTable thead {
		top: 26px;
		z-index: 3;
	}

	.game-icon,
	.type-tag {
		top: 125px;
	}

	.p-3 {
		padding: 1rem 0 !important;
	}

	.main-table-wrap {
		margin: 0 -15px;
	}
}

@media (max-width: 575.98px) {
	table.dataTable td:nth-child(n+3) {
		word-break: normal;
	}

	#main:not(.flex-center) .game-checks-divider {
		width: 100% !important;
	}

	#main:not(.flex-center) .game-checks label.btn {
		padding-left: 7px;
		padding-right: 6px;
	}

	.navbar {
		padding: 0.5rem 0;
	}
}